[Unit]
Description=Aria2 Daemon

[Service]
Type=forking
ExecStart=/usr/bin/aria2c --conf-path=/home/lovelive/.aria2/aria2.conf -D

[Install]
WantedBy=default.target
